@model FoodOrder.Models.ViewModels.ProductItemsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add Product Item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductItemViewModel.Name" class="control-label"></label>
                <input asp-for="ProductItemViewModel.Name" class="form-control" />
                <span asp-validation-for="ProductItemViewModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductItemViewModel.Description" class="control-label"></label>
                <input asp-for="ProductItemViewModel.Description" class="form-control" />
                <span asp-validation-for="ProductItemViewModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductItemViewModel.Price" class="control-label"></label>
                <input asp-for="ProductItemViewModel.Price" class="form-control" />
                <span asp-validation-for="ProductItemViewModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductItemViewModel.ProductId" class="control-label">Product Category</label>
                <select asp-for="ProductItemViewModel.ProductId" asp-items="@(new SelectList(Model.ProductViewModels,"Id","Name"))" class="form-control">
                    @*<option>Please select one</option>*@
                </select>
                <span asp-validation-for="ProductItemViewModel.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

